@import "tailwindcss";

@theme {
    --color-brand: oklch(0.60 0.18 25);
}

@layer base {
    :root {
        color-scheme: light dark;
        --bg: light-dark(oklch(0.99 0 0), oklch(0.15 0 0));
    }

    body {
        background: var(--bg);
        @apply antialiased transition-colors;
    }
}

@layer components {

    .auth-card {
        @apply w-full max-w-md p-10 rounded-3xl shadow-2xl bg-white dark:bg-gray-900 transition-all my-25;
    }

    .input-field {
        @apply w-full p-4 rounded-xl ring-1 ring-gray-300 focus:ring-2 focus:ring-brand outline-hidden dark:bg-gray-800;
    }

    .btn {
        @apply w-full text-white p-4 rounded-xl font-bold cursor-pointer transition-all active:scale-95 will-change-transform
    }

    .btn-primary {
        @apply bg-brand hover:opacity-90;
    }

    .btn-submit {
        @apply bg-green-600 hover:bg-green-700 shadow-lg shadow-green-500/20
    }

    .label {
        @apply block font-bold ml-1 opacity-70 dark:text-gray-300;
    }

    .user-details {
        @apply p-6 rounded-2xl bg-gray-50 dark:bg-gray-800/50
    }

    .user-details>.col-vol {
        @apply text-[10px] font-black uppercase opacity-40 block mb-1;
    }
}